<div class="col-lg-12">
	<div class="form-group">
		<a [routerLink]="['/admin/']" class="btn btn-default"> <span class="glyphicon glyphicon-chevron-left"></span> Trở về</a>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<form class="form-horizontal" (ngSubmit)="updateAbout(aboutForm.value)" #aboutForm="ngForm">
			<input type="hidden" name="page_type" value="about" ngModel>
			<div class="form-group">
				<div class="col-lg-12">
					<div *ngIf="status=='success'" class="alert alert-success" role="alert"> {{ message }} </div>
					<div *ngIf="status=='error'" class="alert alert-danger" role="alert"> {{ message }} </div>
				</div>
			</div>
			<div class="form-group">
				<label for="describe" class="container-fluid">Nội dung</label>
				<div class="container-fluid" *ngIf="!page">
					<ckeditor
					    id="content"
					    name="content"
					    ngModel #content="ngModel"
					    required
					    debounce="500"></ckeditor>
					<div *ngIf="content.errors?.required && content.touched" class="alert alert-danger">Nội dung là trường bắt buộc nhập và không được bỏ trống.</div>
				</div>

				<div class="container-fluid" *ngIf="page!=null && page!='undefined'">
					<ckeditor
						[(ngModel)]="page.content"
					    ngModel
					    id="content"
					    name="content"
					    #content="ngModel"
					    required
					    debounce="500"></ckeditor>
					<div *ngIf="content.errors?.required && content.touched" class="alert alert-danger">Nội dung là trường bắt buộc nhập và không được bỏ trống.</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-12">
					<button type="submit" class="btn btn-primary" [disabled]="aboutForm.invalid">Update</button>
					<a [routerLink]="['/admin']" class="btn btn-default">Cancel</a>
				</div>
			</div>
		</form>
	</div>
</div>