<div *ngIf="category">
    <h4 class="text-uppercase categogy-header">
        <span>{{ category.title }}</span>
    </h4>
</div>

<div *ngIf="articles.length==0"><div class="well">Danh mục trống</div></div>

<div class="date-outer" *ngFor="let article of articles | paginate: { itemsPerPage: 10, currentPage: p, id: 'article_category' }">
    <h2 class="date-header"><span>Đăng {{ article.created_on | date: "\'ngày'\ dd\', tháng\' MM\', năm\' yyyy \'| Lúc\' h:m"}}</span></h2>
    <div class="date-posts">
        <div class="post-outer">
            <article class="post hentry">
                <header class="entry-header">
                    <h1 class="post-title entry-title">
                        <a [routerLink]="['/' + page + '/bai-viet', article._id]">{{ article.title }}</a>
                    </h1>
                </header>
                <div class="post-body entry-content">
                    <div id="entry-item-list"><img [src]="srcImage(article.image)" class="pbtthumbimg">
                        <div>
                        	{{ article.describe }}
                        </div>
                    </div>

                    <div style="float:right;padding-right:10px;margin-top:10px;">
                        <a class="morer" [routerLink]="['/' + page + '/bai-viet', article._id]">Chi tiết</a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <footer class="entry-meta">
                    Đăng {{ article.created_on | date: "\'ngày'\ dd\', tháng\' MM\', năm\' yyyy \'| Lúc\' h:m"}}
                </footer>
            </article>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
<pagination-controls (pageChange)="p = $event" id="article_category"></pagination-controls>