#image {
    visibility: hidden;
    width: 0;
    height: 0;
}
.image-select{
    width: 200px;
    height:200px;
    background: rgba(128, 128, 128, 0.42);
    background-image: url('/assets/images/camera-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 15px;
    text-align: center;
    line-height: 200px;
    cursor: pointer;
    border: 3px #909090 solid;
}