<div class="col-lg-12">
	<div class="form-group">
		<a [routerLink]="['/admin/']" class="btn btn-default"> <span class="glyphicon glyphicon-chevron-left"></span> Trở về</a>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<form class="form-horizontal" (ngSubmit)="createArticle(createArticleForm.value)" #createArticleForm="ngForm">
			<fieldset>
				<legend class="text-center text-uppercase">Thêm bài viết mới</legend>
				<div class="form-group">
					<label for="image" class="col-lg-12 image-select" id="image-selected"></label>
					<div class="col-lg-12">
						<input type="file" class="form-control" id="image" name="image" (change)="fileChange($event)" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label for="title" class="col-lg-12">Tiêu đề</label>
					<div class="col-lg-12">
						<input type="text" class="form-control" id="title" name="title" placeholder="Tiêu đề" ngModel #title="ngModel" required>
						<div *ngIf="title.errors?.required && title.touched" class="alert alert-danger">Tiêu đề bắt buộc nhập</div>
					</div>
				</div>

				<div class="form-group">
					<label for="title" class="col-lg-12">Danh mục bài viết</label>
					<div class="col-lg-12">
						<select class="form-control" name="category_id" ngModel required>
							<option *ngFor="let category of categories | async" [ngValue]="category" >
								{{ category.title}}
							</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="describe" class="col-lg-12">Mô tả</label>
					<div class="col-lg-12">
						<textarea class="form-control" rows="5" id="describe" name="describe" placeholder="Mô tả ngắn gọn về bài viết" ngModel></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="describe" class="col-lg-12">Nội dung bài viết</label>
					<div class="col-lg-12">
						<ckeditor
						    ngModel
						    id="content"
						    name="content"
						    #content="ngModel"
						    required
						    debounce="500"></ckeditor>
						<div *ngIf="content.errors?.required && content.touched" class="alert alert-danger">Nội dung là trường bắt buộc nhập và không được bỏ trống.</div>
					</div>
				</div>
				<!-- <div class="form-group">
					<div class="col-lg-12">
						<label for="visibility">Hiển thị: </label> <input type="checkbox" id="visibility" name="visibility" ngModel>
					</div>
				</div> -->
				<div class="form-group">
					<div class="col-lg-12">
						<button type="submit" class="btn btn-primary" [disabled]="createArticleForm.invalid">Create</button>
						<a [routerLink]="['/admin/articles']" class="btn btn-default">Cancel</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

