<form action="" method="POST" role="form" (ngSubmit)="registerSubmit(registerForm.value)" #registerForm="ngForm">
	<legend class="text-center">Đăng ký</legend>
	<div *ngIf="status=='error'" class="alert alert-danger">{{ message }}</div>
	<div *ngIf="status=='success'" class="alert alert-success">{{ message }}</div>
	<div class="form-group">
		<label for="name">Họ &amp; Tên</label>
		<input type="text" class="form-control" id="name" name="name" placeholder="Họ &amp; Tên" ngModel #title="ngModel" required>
		<div *ngIf="title.errors?.required && title.touched" class="text-red">
			<strong>Họ &amp; Tên</strong> không được bỏ trống
		</div>
	</div>

	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" class="form-control" id="email" name="email" placeholder="E-Mail" ngModel #email="ngModel" required>
		<div *ngIf="email.errors?.required && email.touched" class="text-red">
			<strong>E-Mail</strong> là trường bắt buộc nhập
		</div>
	</div>

	<div class="form-group">
		<label for="">Giới tính: </label>
		<input type="radio" class="inline" name="gender" value="male" ngModel> Nam
		<input type="radio" class="inline" name="gender" value="female" ngModel> Nữ
		<input type="radio" class="inline" name="gender" value="other" ngModel> Khác
	</div>

	<div class="form-group">
		<label for="password">Mật khẩu</label>
		<input type="password" class="form-control" id="password" name="password" placeholder="Password" ngModel #pass="ngModel" required>
		<div *ngIf="pass.errors?.required && pass.touched" class="text-red">
			<strong>Mật khẩu</strong> không được bỏ trống
		</div>
	</div>

	<div class="form-group">
		<label for="confirm_password">Nhập lại mật khẩu</label>
		<input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm password" ngModel #repass="ngModel" required>
		<div *ngIf="repass.errors?.required && repass.touched" class="text-red">
			<strong>Nhập lại mật khẩu</strong> không được bỏ trống
		</div>
		<div *ngIf="repass.value!=pass.value && repass.touched" class="text-red">
			<strong>Mật khẩu</strong> không khớp
		</div>
	</div>

	<button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Đăng Ký</button>
	<a class="btn btn-link" [routerLink]="['/']">Trở về</a>
</form>