<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/']"><span class="glyphicon glyphicon-home"></span> Trang Chủ</a>
    </li>
    <li class="active"> Giới thiệu </li>
</ol>

<div class="container-fluid">
	<div *ngIf="page == null || page == 'undefined'">
		{{ message }}
	</div>
	<div *ngIf="page" [innerHTML]="page.content"></div>
</div>
