<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/admin']"><span class="glyphicon glyphicon-home"></span> Dashboard</a>
    </li>
    <li class="active">Quản lý bài viết</li>
</ol>

<div class="col-md-12">
	<a [routerLink]="['/admin/article/create']" class="btn btn-success btn-raised">
		<span class="glyphicon glyphicon-plus"></span> Thêm bài viết
	</a>
	<a [routerLink]="['/admin']" class="btn btn-default btn-raised">
		<span class="glyphicon glyphicon-chevron-left"></span> Trở về
	</a>
</div>

<div class="col-md-12">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th style="width: 70px">Image</th>
					<th>Title</th>
					<th style="white-space: nowrap;">Visibility</th>
					<th style="width: 140px;">Action</th>
				</tr>
			</thead>
			<tbody>

				<tr *ngFor="let article of articles | async | paginate: { itemsPerPage: 10, currentPage: p }">
					<td><img [src]="srcImage(article.image)" width="70"/></td>
					<td>{{article.title}} </td>
					<td class="text-center">{{article.visibility}} </td>
					<td>
						<a [routerLink]="['/admin/article/edit', article._id]" class="btn btn-info inline"> Edit</a>
						<a [routerLink]="['/admin/article/delete', article._id]" class="btn btn-danger inline"> Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		<pagination-controls (pageChange)="p = $event"></pagination-controls>
	</div>
</div>