body#layout ul {
    list-style-type: none;
    list-style: none
}

body#layout ul li {
    list-style-type: none;
    list-style: none
}

body#layout .navbarbwrap {
    display: none;
}

body#layout .site-headerbwrap .pbthome-link {
    min-height: 100px;
}

body#layout .site-footerbwrap .widget-areabwrap {
    width: 220px;
    margin: 5px;
    padding: 5px;
}

body#layout .site-mainbwrap .content-areabwrap {
    width: 450px;
}
        /* Variable definitions
====================
*/
/* Use this with templates/template-twocol.html */

.section,
.widget {
    margin: 0;
    padding: 0;
}
        /* =Reset (http://git.io/normalize)
        ----------------------------------------------- */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-size: 62.5%;
    /* 10px */
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

body {
    color: #333;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 23px;
    line-height: 2.3rem;
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
    -webkit-transition: none;
    transition: none;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    color: #b00;
    outline: 0;
}

a:hover {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: #000;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-weight: bold;
    line-height: 1.5;
    margin: 23px 0;
    margin: 2.3rem 0;
}

h1 {
    font-size: 24px;
    font-size: 2.4rem;
}

h2 {
    font-size: 20px;
    font-size: 2rem;
}

h3 {
    font-size: 17px;
    font-size: 1.7rem;
}

h4 {
    font-size: 15px;
    font-size: 1.5rem;
}

h5 {
    font-size: 13px;
    font-size: 1.3rem;
}

h6 {
    color: rgba(0, 0, 0, 0.45);
    font-size: 13px;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

address {
    font-style: italic;
    margin: 0 0 23px;
    margin: 0 0 2.3rem;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

p {
    margin: 0 0 23px;
    margin: 0 0 2.3rem;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 13px;
    font-size: 1.3rem;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre {
    background-color: rgba(0, 0, 0, 0.04);
    color: #666;
    font-family: monospace;
    font-size: 13px;
    font-size: 1.3rem;
    margin: 23px 0;
    margin: 2.3rem 0;
    overflow: auto;
    padding: 20px;
    padding: 2rem;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

blockquote,
q {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

blockquote {
    font-size: 13px;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: normal;
    margin: 23px;
    margin: 2.3rem;
}

blockquote blockquote {
    margin-right: 0;
}

blockquote cite,
blockquote small {
    font-size: 11px;
    font-size: 1.1rem;
    font-weight: normal;
    text-transform: uppercase;
}

blockquote em,
blockquote i {
    font-style: normal;
    font-weight: normal;
}

blockquote strong,
blockquote b {
    font-weight: normal;
}

small {
    font-size: smaller;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

dl {
    margin: 0 20px;
    margin: 0 2rem;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 20px;
    margin: 0 0 2rem;
}

menu,
ol,
ul {
    margin: 16px 0;
    margin: 1.6rem 0;
    padding: 0 0 0 40px;
    padding: 0 0 0 4rem;
}

ul {
    list-style-type: square;
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

li>ul,
li>ol {
    margin: 0;
}

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding: 2rem;
    margin-bottom: 23px;
    margin-bottom: 2.3rem;
}

legend {
    border: 0;
    padding: 0 5px;
    white-space: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
}

button,
input {
    line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    padding-right: 2px;
    /* Don't cut off the webkit search cancel button */
    width: 270px;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-spacing: 0;
    margin: 0 0 23px;
    margin: 0 0 2.3rem;
    width: 100%;
}

caption,
th,
td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: normal;
    text-align: left;
}

caption {
    border: 0;
    margin: 23px 0;
    margin: 2.3rem 0;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

td {
    padding: 6px 10px 6px 0;
    padding: 0.6rem 1rem 0.6rem 0;
}

hr {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 1px;
    margin: 0 0 23px;
    margin: 0 0 2.3rem;
}
/* =Repeatable Patterns
----------------------------------------------- */
/* Clearing floats */

.clear:after,
.nav-menuul:after,
.site-mainbwrap:after,
.site-footerbwrap .sidebar-containerbwrap:after,
.entry-content:after,
.navigationbwrap:after,
.nav-links:after,
.attachment .entry-header:after,
.comment-body:after,
.sidebar-inner:after {
    clear: both;
}

.clear:before,
.clear:after,
.nav-menuul:before,
.nav-menuul:after,
.site-mainbwrap:before,
.site-mainbwrap:after,
.site-footerbwrap .sidebar-containerbwrap:before,
.site-footerbwrap .sidebar-containerbwrap:after,
.entry-content:before,
.entry-content:after,
.navigationbwrap:before,
.navigationbwrap:after,
.nav-links:before,
.nav-links:after,
.attachment .entry-header:before,
.attachment .entry-header:after,
.comment-body:before,
.comment-body:after,
.sidebar-inner:before,
.sidebar-inner:after {
    content: "";
    display: table;
}
/* Assistive text */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
/* Form fields, general styles first. */

button,
input,
textarea {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: inherit;
    padding: 8px 10px;
    padding: 0.8rem 1rem;
    -webkit-transition: border 0.2s;
    transition: border 0.2s;
}

input,
textarea {
    color: #333;
}

input:focus,
textarea:focus {
    border-color: rgba(0, 0, 0, 0.3);
    outline: 0;
}
/* Buttons */

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
    background: transparent;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 8px 20px;
    padding: 0.8rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
    border-color: rgba(0, 0, 0, 0.3);
    outline: none;
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
    border-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
    -webkit-transition: none;
    transition: none;
}

.post-password-required input[type="submit"] {
    vertical-align: bottom;
}
/* Placeholder text color -- selectors need to be separate to work. */

::-webkit-input-placeholder {
    color: #333;
}

:-moz-placeholder {
    color: #333;
}

::-moz-placeholder {
    color: #333;
}

:-ms-input-placeholder {
    color: #333;
}
/* Responsive images */

.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
    max-width: 100%;
}
/* Make sure images with WordPress-added height and width attributes are scaled correctly. */

.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
    height: auto;
}

img.size-full,
img.size-large,
img.wp-post-image {
    height: auto;
    max-width: 100%;
}
/* Make sure videos and embeds fit their containers. */

embed,
iframe,
object,
video {
    max-width: 100%;
}
/* Override the Twitter embed fixed width. */

.entry-content .twitter-tweet-rendered {
    max-width: 100% !important;
}
/* Images */

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.alignleft {
    margin: 5px 20px 5px 0;
    margin: 0.5rem 2rem 0.5rem 0;
}

img.aligncenter {
    margin: 5px auto;
    margin: 0.5rem auto;
}

img.alignnone {
    margin: 5px 0;
    margin: 0.5rem 0;
}
/* =Basic Structure
----------------------------------------------- */

.site-mainbwrap {
    margin: 0 auto;
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    padding: 46px 0;
    padding: 4.6rem 0;
    width: 100%;
}

.site-mainbwrap .content-areabwrap {
    float: left;
    margin: 0 10px;
    margin: 0 1rem;
    width: 620px;
}

.single-attachment .content-areabwrap,
.full-width .content-areabwrap {
    width: 940px;
}

.site-mainbwrap .sidebar-containerbwrap {
    float: right;
    margin: 0 10px;
    margin: 0 1rem;
    width: 280px;
}
/* =Site Header
----------------------------------------------- */

.site-headerbwrap {
    background-color: #000;
}

.site-headerbwrap .pbthome-link {
    display: block;
    margin: 0 auto;
    max-width: 960px;
    min-height: 180px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.site-title {
    color: #fff;
    font-family: sans-serif;
    font-size: 80px;
    font-size: 8rem;
    font-weight: 300;
    letter-spacing: 5px;
    line-height: 1;
    margin: 0;
    padding: 40px 0 5px;
    padding: 4rem 0 0.5rem;
    text-transform: uppercase;
}

.site-title a {
    color: #fff;
    text-shadow: 0px 0px 0px #fff;
    transition: 0.3s;
}

.site-title a:hover {
    text-decoration: none;
    color: #9c9c9c;
    text-shadow: 1px 1px 1px #fff, 2px 2px 1px #fff, 3px 3px 1px #fff;
}

.site-description {
    color: #666;
    font: normal 14px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 23px;
    padding-bottom: 2.3rem;
}

.site-description {
    color: #666;
    font: normal 14px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 23px;
    padding-bottom: 2.3rem;
}
/* =Navigation
----------------------------------------------- */

.main-navigationbwrap {
    clear: both;
    margin: 0 auto;
    max-width: 960px;
    min-height: 36px;
    position: relative;
}

ul.nav-menuul,
div.nav-menuul>ul {
    margin: 0;
    padding: 0 40px 0 0;
    padding: 0 4rem 0 0;
    list-style: none;
    list-style-type: none;
}

.nav-menuul li {
    float: left;
    position: relative;
}

.nav-menuul li a {
    color: #ccc;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 11px;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 12px;
    line-height: 1.2rem;
    padding: 12px 20px;
    padding: 1.2rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-menuul li:hover>a,
.nav-menuul li a:hover {
    background-color: #303030;
    color: #fff;
    -webkit-transition: none;
    transition: none;
}

.nav-menuul .sub-menu,
.nav-menuul .children {
    background-color: #404040;
    border-top: 0;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 0;
    padding: 0;
    position: absolute;
    left: 0;
    z-index: 99999;
    list-style: none;
    list-style-type: none;
}

.nav-menuul .sub-menu ul,
.nav-menuul .children ul {
    border-left: 0;
    left: 100%;
    top: 0;
    list-style: none;
    list-style-type: none;
}

ul.nav-menuul ul a,
.nav-menuul ul ul a {
    margin: 0;
    text-transform: none;
    width: 200px;
}

ul.nav-menuul ul a:hover,
.nav-menuul ul ul a:hover {
    background-color: #303030;
}

ul.nav-menuul li:hover>ul,
.nav-menuul ul li:hover>ul {
    display: block;
    opacity: 1;
}

.nav-menuul .current_page_item>a,
.nav-menuul .current_page_ancestor>a,
.nav-menuul .current-menu-item>a,
.nav-menuul .current-menu-ancestor>a {
    background-color: #303030;
    color: #fff;
}

.menu-togglebwrap {
    display: none;
}
/* Navbar */

.navbarbwrap {
    background-color: #404040;
    margin: 0 auto;
    width: 100%;
}

.site-headerbwrap .search-form {
    position: absolute;
    right: 0;
    top: 0;
}

.site-headerbwrap .search-field {
    background-color: transparent;
    background-image: url(http://3.bp.blogspot.com/-QG9VrOR5zEY/U42NHKgUIcI/AAAAAAAAJ0o/kqSAs-NZqpQ/s1600/search-icon.png);
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: 0;
    cursor: pointer;
    height: 36px;
    margin: 0;
    padding: 0 0 0 42px;
    padding: 0 0 0 4.2rem;
    position: relative;
    -webkit-transition: width 0.2s ease, background 0.2s ease;
    transition: width 0.2s ease, background 0.2s ease;
    width: 0;
}

.site-headerbwrap .search-field:hover {
    background-color: #303030;
    -webkit-transition: none;
    transition: none;
}

.site-headerbwrap .search-field:focus {
    background-color: #f5f5f5;
    border: 0;
    cursor: text;
    outline: 0;
    padding-right: 2px;
    /* Don't cut off the webkit search cancel button */
    -webkit-transition: width 0.2s ease, background 0.2s ease;
    transition: width 0.2s ease, background 0.2s ease;
    width: 200px;
}
/* =Content
----------------------------------------------- */

.site-contentbwrap {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.hentry {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 26px;
    margin-bottom: 2.6rem;
    padding-bottom: 26px;
    padding-bottom: 2.6rem;
}

.entry-header,
.entry-content,
.entry-summary,
.entry-meta {
    width: 100%;
}
/* =Entry Header
----------------------------------------------- */

.entry-thumbnail img {
    display: block;
    margin: 0 auto 23px;
    margin: 0 auto 2.3rem;
}

.entry-header {
    margin-bottom: 15px;
    margin-bottom: 1.5rem;
}

.entry-title {
    font-family: Lato, sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.2;
}

.entry-title a {
    color: #000;
}

.entry-title a:hover {
    color: #b00;
    text-decoration: none;
}
/* =Entry Meta
----------------------------------------------- */

.entry-meta {
    clear: both;
    color: rgba(0, 0, 0, 0.45);
    margin: 10px 0 0 0;
    text-transform: uppercase;
    font-size: 86%;
}

.entry-meta a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.45);
}

.entry-meta a:hover {
    color: #b00;
}

.entry-meta .pbtedit-link:before {
    content: "\203A\00a0";
}

.single-author .entry-meta .by-author,
.sticky .entry-meta .on-date {}
/* =Entry Content
----------------------------------------------- */

.entry-content a,
.comment-content a,
.page-content a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #b00;
}

.entry-content a:hover,
.comment-content a:hover,
.page-content a:hover {
    color: #333;
}

.entry-content th a,
.entry-content td a,
.comment-content th a,
.comment-content td a {
    border-bottom: none;
}
/* Page links */

.page-links {
    clear: both;
    font-weight: bold;
    margin: 23px 0;
    margin: 2.3rem 0;
}
/* Mediaelements */

.hentry .mejs-mediaelement,
.hentry .mejs-container .mejs-controls {
    background: #303030;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #fff;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
    background: #b00;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
    background: #595959;
}

.hentry .mejs-controls .mejs-time-rail span,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.hentry .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    border-radius: 0;
}
/* =Archives
----------------------------------------------- */

.archive-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 46px;
    margin-bottom: 4.6rem;
    padding-bottom: 23px;
    padding-bottom: 2.3rem;
}

.archive-title {
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    text-transform: uppercase;
}

.archive-meta {
    color: rgba(0, 0, 0, 0.45);
    font-style: normal;
    font-weight: normal;
    margin-top: 10px;
    margin-top: 1rem;
}

.archive-meta p:last-of-type {
    margin-bottom: 0;
}
/* =Search Results/No posts/404
----------------------------------------------- */

.page-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 46px;
    margin-bottom: 4.6rem;
    padding-bottom: 23px;
    padding-bottom: 2.3rem;
}

.page-title {
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    text-transform: uppercase;
}

.error404 {
    margin-bottom: 46px;
    margin-bottom: 4.6rem;
}
/* =Sidebar
----------------------------------------------- */

.site-mainbwrap .widget-areabwrap {
    width: 100%;
}
/* =Widgets
----------------------------------------------- */

#secondarybwrap .widget {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0 0 23px;
    margin: 0 0 2.3rem;
    padding: 0 0 23px;
    padding: 0 0 2.3rem;
    word-wrap: break-word;
}

.site-footerbwrap .widget {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0 0 23px;
    margin: 0 0 2.3rem;
    padding: 0 0 23px;
    padding: 0 0 2.3rem;
    word-wrap: break-word;
}

#secondarybwrap .widget:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.site-footerbwrap .widget:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

#secondarybwrap .widget .widget-title,
#secondarybwrap .widget h2,
#secondarybwrap .widget h3 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-size: 2rem;
    font-weight: normal;
    margin: 0 0 10px;
    margin: 0 0 1rem;
    text-transform: uppercase;
}

.site-footerbwrap .widget .widget-title,
.site-footerbwrap .widget h2,
.site-footerbwrap .widget h3 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-size: 2rem;
    font-weight: normal;
    margin: 0 0 10px;
    margin: 0 0 1rem;
    text-transform: uppercase;
}

#secondarybwrap .widget ul,
#secondarybwrap .widget ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.site-footerbwrap .widget ul,
.site-footerbwrap .widget ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#secondarybwrap .widget li {
    padding: 5px 0;
}

.site-footerbwrap .widget li {
    padding: 5px 0;
}

#secondarybwrap .widget a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.site-footerbwrap .widget a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* Search widget */

.search-form .search-submit {
    display: none;
}
/* =Footer
----------------------------------------------- */

.site-footerbwrap .widget-areabwrap {
    text-align: left;
}

.site-footerbwrap .sidebar-containerbwrap {
    background-color: rgba(0, 0, 0, 0.06);
    padding: 46px 0;
    padding: 4.6rem 0;
}

.site-footerbwrap .sidebar-inner {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.site-footerbwrap .widget-areabwrap {
    float: left;
    margin: 0 10px;
    margin: 0 1rem;
    padding: 0 10px;
    padding: 0 1rem;
}

.one-footer-sidebar .site-footerbwrap .widget-areabwrap {
    width: 940px;
}

.two-footer-sidebars .site-footerbwrap .widget-areabwrap {
    width: 460px;
}

.three-footer-sidebars .site-footerbwrap .widget-areabwrap {
    width: 300px;
}

.site-info-container {
    background-color: #000;
    text-align: center;
}

.site-infobwrap {
    color: #666;
    font-size: 11px;
    font-size: 1.1rem;
    letter-spacing: 2px;
    margin: 0 auto;
    max-width: 960px;
    padding: 23px 0;
    padding: 2.3rem 0;
    text-transform: uppercase;
    width: 100%;
}

.site-infobwrap .sep {
    padding: 0 5px;
}

.site-infobwrap a {
    color: #666;
}

.site-infobwrap a:hover {
    color: #fff;
    text-decoration: none;
}
/* =Media Queries
----------------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .site-headerbwrap .pbthome-link,
    .main-navigationbwrap,
    .site-mainbwrap,
    .site-footerbwrap .sidebar-inner,
    .site-infobwrap {
        width: 768px;
    }
    .site-mainbwrap .content-areabwrap {
        padding-right: 20px;
        padding-right: 2rem;
        width: 556px;
    }
    .site-mainbwrap .sidebar-containerbwrap {
        width: 172px;
    }
    .single-attachment .content-areabwrap,
    .full-width .content-areabwrap,
    .one-footer-sidebar .site-footerbwrap .widget-areabwrap {
        width: 748px;
    }
    .two-footer-sidebars .site-footerbwrap .widget-areabwrap {
        width: 364px;
    }
    .three-footer-sidebars .site-footerbwrap .widget-areabwrap {
        width: 236px;
    }
}
/* Mobile (Portrait) */

@media only screen and (max-width: 767px) {
    .site-headerbwrap .pbthome-link,
    .main-navigationbwrap,
    .site-mainbwrap,
    .site-footerbwrap .sidebar-inner,
    .site-infobwrap,
    .site-mainbwrap .content-areabwrap,
    .site-mainbwrap .sidebar-containerbwrap,
    .single-attachment .content-areabwrap,
    .full-width .content-areabwrap,
    .one-footer-sidebar .site-footerbwrap .widget-areabwrap,
    .two-footer-sidebars .site-footerbwrap .widget-areabwrap,
    .three-footer-sidebars .site-footerbwrap .widget-areabwrap {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
    .site-mainbwrap .content-areabwrap {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 46px;
        margin-bottom: 4.6rem;
        padding-bottom: 46px;
        padding-bottom: 4.6rem;
    }
    .site-title {
        font-size: 40px;
        font-size: 4rem;
        padding-top: 60px;
        padding-top: 6rem;
    }
    #secondarybwrap .widget:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0 0 23px;
        margin: 0 0 2.3rem;
        padding: 0 0 23px;
        padding: 0 0 2.3rem;
    }
    .site-footerbwrap .widget:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0 0 23px;
        margin: 0 0 2.3rem;
        padding: 0 0 23px;
        padding: 0 0 2.3rem;
    }
    /* Small menu */
    .menu-togglebwrap {
        background-color: #303030;
        color: #888;
        cursor: pointer;
        display: inline-block;
        font-family: Lato, sans-serif;
        font-size: 11px;
        font-size: 1.1rem;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 1;
        margin: 0;
        padding: 12px 20px;
        padding: 1.2rem 2rem;
        text-transform: uppercase;
    }
    .toggled-on .nav-menuul,
    .toggled-on .nav-menuul>ul {
        display: block;
        margin-left: 0;
        padding: 0;
        width: 100%;
    }
    .toggled-on li,
    .toggled-on .children {
        display: block;
        float: none;
    }
    .toggled-on .nav-menuul li>ul {
        background-color: rgba(255, 255, 255, 0.05);
        box-shadow: none;
        display: block;
        float: none;
        margin-left: 20px;
        opacity: 1;
        position: relative;
        left: auto;
        top: auto;
    }
    .toggled-on .nav-menuul li>ul a {
        text-transform: uppercase;
        width: auto;
    }
    .toggled-on .nav-menuul li:hover>a,
    .toggled-on .nav-menuul .children a {
        background-color: transparent;
        color: #ccc;
    }
    .toggled-on .nav-menuul li a:hover,
    .toggled-on .nav-menuul ul a:hover {
        background-color: #303030;
        color: #fff;
    }
    ul.nav-menuul,
    div.nav-menuul>ul {
        display: none;
    }
}
/* Mobile (Landscape) */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .site-headerbwrap .pbthome-link,
    .main-navigationbwrap,
    .site-mainbwrap,
    .site-footerbwrap .sidebar-inner,
    .site-infobwrap,
    .site-mainbwrap .content-areabwrap,
    .site-mainbwrap .sidebar-containerbwrap,
    .single-attachment .content-areabwrap,
    .full-width .content-areabwrap,
    .one-footer-sidebar .site-footerbwrap .widget-areabwrap,
    .two-footer-sidebars .site-footerbwrap .widget-areabwrap,
    .three-footer-sidebars .site-footerbwrap .widget-areabwrap {
        width: 420px;
    }
}

h2.date-header {
    margin: 10px 0px;
    display: none;
}

.main .widget {
    margin: 0 0 5px;
    padding: 0 0 2px;
}

.main .Blog {
    border-bottom-width: 0;
}

#header .description {
    color: #ffffff;
    font-size: 14px;
    text-shadow: 0px 1px 0px #000000;
}
/* Comments----------------------------------------------- */

#comments {
    padding: 10px;
    margin-bottom: 20px;
}

#comments h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

.deleted-comment {
    font-style: italic;
    color: gray;
}

#blog-pager-newer-link {
    float: left;
}

#blog-pager-older-link {
    float: right;
}

#blog-pager {
    text-align: center;
    padding: 5px;
}

.feed-links {
    clear: both;
}

.comment-form {}

#navbar-iframe {
    height: 0;
    visibility: hidden;
    display: none;
}

.PopularPosts .widget-content ul li {
    padding: 6px 0px;
}

.reaction-buttons table {
    border: none;
    margin-bottom: 5px;
}

.reaction-buttons table,
.reaction-buttons td {
    border: none !important;
}

body {
    background-color: #ffffff;
}

.pbtthumbimg {
    float: left;
    margin: 0px 10px 5px 5px;
    padding: 4px;
    border: 1px solid #eee;
    background: #fff;
    width: 200px;
    height: 150px;
}