<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/']"><span class="glyphicon glyphicon-home"></span> Trang Chủ</a>
    </li>
    <li>
        <a [routerLink]="['/' + page + '/bai-viet']">Bài viết</a>
    </li>
    <li class="active" *ngIf="selectedArticle">{{ selectedArticle.title }}</li>
</ol>

<div class="date-outer" *ngIf="selectedArticle">
    <h2 class="date-header"><span>Wednesday, April 23, 2014</span></h2>
    <div class="date-posts">

        <div class="post-outer">
            <article class="post hentry">
                <header class="entry-header">
                    <h1 class="post-title entry-title">
                        <a [routerLink]="['/' + page, selectedArticle._id]">
                            {{ selectedArticle.title }}
                        </a>
                    </h1>
                </header>
                <div class="post-body entry-content">
                    <div [innerHTML]="selectedArticle.content"></div>
                </div>
            </article>
            <div style="clear: both;"></div>

            <div class="wrapper-comment">
                <strong>Bình luận</strong>
                <div class="wrapper-comment-input" [hidden]="!isAllowComment">
                    <div class="comment-input" contenteditable="true" [textContent]="comment" (input)="comment=$event.target.textContent"></div>
                    <div class="comment-button text-right">
                        <button class="btn btn-sm btn-primary btn-send" (click)="doComment()">Đăng</button>
                    </div>
                </div>
                <div *ngIf="comments.length===0" class="wrapper-comment-content">
                    <p class="well">Hãy là người đầu tiên bình luận bài viết này</p>
                </div>
                <div *ngIf="comments.length!==0" class="wrapper-comment-content">
                    <div *ngFor="let cmt of comments">
                        <div *ngFor="let ur of users">
                            <div *ngIf="cmt.user_id==ur._id">
                                <p><a [routerLink]="['/' + ur.page]" (click)="onClickUserPage(ur.page)"><strong>{{ ur.name }}</strong></a>: {{ cmt.content }}
                                    <span *ngIf="user">
                                        <span *ngIf="cmt.user_id==user._id || user._id==selectedArticle.user_id" class="close text-red" (click)="doRemove(cmt._id, $event.target.parentElement)">&times;</span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>