<div class="col-lg-12">
	<div class="form-group">
		<a [routerLink]="['/admin/articles']" class="btn btn-default"> <span class="glyphicon glyphicon-chevron-left"></span> Trở về</a>
	</div>
</div>

<div class="container-fluid" *ngIf="article">
	<div class="row">
		<form class="form-horizontal" (ngSubmit)="updateArticle(article)" #updateArticleForm="ngForm" enctype="multipart/form-data" method="post">

			<fieldset>
				<legend class="text-center text-uppercase">Sửa bài viết</legend>
				<div class="col-lg-12">
					<div *ngIf="status=='success'" class="alert alert-success" role="alert"> {{ message }} </div>
					<div *ngIf="status=='error'" class="alert alert-danger" role="alert"> {{ message }} </div>
				</div>

				<div class="form-group">
					<label for="image" class="col-lg-12 image-select" id="image-selected"
						[ngStyle]="{'background-image': 'url(' + this.configHost.apiUrl + 'uploads/' + this.article.image + ')', 'background-size': '100%', 'background-color': 'tranparent'}"></label>
					<div class="col-lg-12">
						<input type="file" class="form-control" id="image" name="image" (change)="fileChange($event)" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label for="title" class="col-lg-12">Tiêu đề</label>
					<div class="col-lg-12">
						<input type="text" class="form-control" id="title" name="title" placeholder="Tiêu đề" [(ngModel)]="article.title" #title="ngModel" required minlength="6">
						<div *ngIf="title.errors?.required && title.touched" class="alert alert-danger">Tiêu đề bắt buộc nhập</div>
						<div *ngIf="title.errors?.minlength && title.touched" class="alert alert-danger">Tiêu đề bắt buộc phải dài hơn 6 ký tự</div>
					</div>
				</div>

				<div class="form-group">
					<label for="title" class="col-lg-12">Danh mục bài viết</label>
					<div class="col-lg-12">
						<select [(ngModel)]="article.category_id" (ngModelChange)="onSelected($event)" class="form-control" name="category_id">
							<option value="0">---Chọn danh mục---</option>
							<option *ngFor="let category of categories | async" [ngValue]="category._id">
								{{ category.title}}
							</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="describe" class="col-lg-12">Mô tả</label>
					<div class="col-lg-12">
						<textarea class="form-control" rows="5" id="describe" name="describe" placeholder="Mô tả ngắn gọn về bài viết" [(ngModel)]="article.describe" ngModel></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="describe" class="col-lg-12">Nội dung bài viết</label>
					<div class="col-lg-12">
						<ckeditor
							[(ngModel)]="article.content"
						    ngModel
						    id="content"
						    name="content"
						    #content="ngModel"
						    required
						    debounce="500"></ckeditor>

						<div *ngIf="content.errors?.required && content.touched" class="alert alert-danger">Nội dung là trường bắt buộc nhập và không được bỏ trống.</div>
					</div>
				</div>
				<!-- <div class="form-group">
					<div class="col-lg-12">
						<label for="visibility">Hiển thị: </label> <input type="checkbox" id="visibility" name="visibility"
						[checked]="article.visibility" (change)="article.visibility = $event.target.checked">
					</div>
				</div> -->
				<div class="form-group">
					<div class="col-lg-12">
						<button type="submit" class="btn btn-primary" [disabled]="updateArticleForm.invalid">Cập nhật</button>
						<a [routerLink]="['/admin/articles']" class="btn btn-default">Cancel</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
