<app-navbar></app-navbar>
<!-- #masthead -->
<div class="site-mainbwrap" id="mainbwrap">
	<div class="content-areabwrap" id="primarybwrap">
		<div class="site-contentbwrap" id="contentbwrap" role="main">
			<div class="mainblogsec section" id="mainblogsec">
				<div class="widget Blog" data-version="1" id="Blog1">
					<div class="blog-posts hfeed">
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
		</div>
		<!-- #content -->
	</div>
	<!-- #primary -->
	<div class="sidebar-containerbwrap" id="secondarybwrap" role="complementary">
		<div class="widget-areabwrap">
			<div class="bsidebarright section" id="bsidebarright">
				<app-login></app-login>

				<div class="widget HTML" data-version="1" id="HTML1" *ngIf="articlesNew && articlesNew.length>0">
					<h2 class="title">Bài viết mới</h2>
					<div class="widget-content">
						<ul>
							<li *ngFor="let article of articlesNew"><a [routerLink]="['/bai-viet',article._id]"
							(selectedArticleEvent)="onSelectArticle($even)">{{ article.title }}</a></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
				<div class="widget Label" data-version="1" id="Label1" *ngIf="categories && categories.length>0">
					<h2>Danh Mục</h2>
					<div class="widget-content list-label-widget-content">
						<ul>
						<!--  | async -->
							<li *ngFor="let category of categories">
								<a dir="ltr" [routerLink]="[page + '/danh-muc',category._id]" (click)="onClicked(category)">{{ category.title }}</a>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
				<div class="widget PageList" data-version="1" id="PageList1">
					<h2>Menu</h2>
					<div class="widget-content">
						<ul>
							<li routerLinkActive="selected"><a [routerLink]="['/']" (click)="scrollToTop(15)">Trang chủ</a></li>
							<li *ngIf="page!='' && page!=null" routerLinkActive="selected"><a [routerLink]="[page + '/ve-chung-toi']" (click)="scrollToTop(15)">Về chúng tôi</a></li>
							<li *ngIf="page!='' && page!=null" routerLinkActive="selected"><a [routerLink]="[page + '/bai-viet']" (click)="scrollToTop(15)">Bài viết</a></li>
							<li *ngIf="page!='' && page!=null" routerLinkActive="selected"><a [routerLink]="[page + '/lien-he']" (click)="scrollToTop(15)"> Liên hệ</a></li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- .widget-area -->
	</div>
	<!-- #secondary -->
</div>
<!-- #main -->

<footer class="site-footerbwrap" id="colophon" role="contentinfo">
	<!-- #tertiary -->
	<div class="site-info-container">
		<div class="site-infobwrap">
			<!-- Do not edit or remove credits without our permission: premiumbloggertemplates.com -->
			Copyright ©
			<script type="text/javascript">
				var creditsyear = new Date();
				document.write(creditsyear.getFullYear());
			</script>2017
			<!-- <a href="http://suits-pbt.blogspot.com/">Suits</a> | Powered by <a href="http://www.blogger.com/">Blogger</a><br>Design by <a href="http://www.themeweaver.net/" target="_blank">Theme Weaver</a> | Blogger Theme by <a href="http://www.bloggertipandtrick.net/" target="_blank" title="Blogging Tutorials">Lasantha</a> - <a href="http://www.premiumbloggertemplates.com/" target="_blank" title="Free Blogger Templates">PremiumBloggerTemplates.com</a> -->
		</div>
		<!-- .site-info -->
	</div>
	<!-- .site-info-container -->
</footer>
<!-- #colophon -->