<header class="site-headerbwrap" id="mastheadbwrap" role="banner">
	<div class="pbthome-link">
		<div class="headersec section" id="headersec">
			<div class="widget Header" data-version="1" id="Header1">
				<div id="header-inner">
					<div class="titlewrapper">
						<h1 class="site-title">
							<a [routerLink]="['/']" *ngIf="objData">{{ objData.title }}</a>
							<a [routerLink]="['/']" *ngIf="objData==null || !objData.title"></a>
						</h1>
					</div>
					<h2 class="site-description" *ngIf="objData">{{ objData.slogan }}</h2>
					<h2 class="site-description" *ngIf="objData==null || !objData.slogan">Cùng sẻ chia tri thức</h2>
				</div>
			</div>
		</div>
	</div>
	<div id="navbar-custom">
		<div class="navigationbwrap main-navigationbwrap" id="site-navigationbwrap" role="navigation">
			<h3 class="menu-togglebwrap">Menu</h3>
			<div class="menu-testing-menu-container">
				<ul class="nav-menuul">
					<li routerLinkActive="active"><a [routerLink]="['/']" (click)="onClickHome()">Trang chủ</a></li>
					<li *ngIf="page!='' && page!=null" routerLinkActive="active"><a [routerLink]="[page + '/ve-chung-toi']">Giới thiệu</a></li>
					<li *ngIf="page!='' && page!=null" routerLinkActive="active"><a [routerLink]="[page + '/bai-viet']">Bài viết</a>
						<ul class="sub-menu">
						<!--  | async -->
							<li *ngFor="let category of categories"><a [routerLink]="[page + '/danh-muc', category._id]" (click)="onClicked(category._id)">{{ category.title }}</a></li>
						</ul>
					</li>
					<li *ngIf="page!='' && page!=null" routerLinkActive="active"><a [routerLink]="[page + '/lien-he']">Liên hệ</a></li>
				</ul>
			</div>
			<form action="/search" class="search-form" id="searchform" method="get" role="search">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input class="search-field" name="q" placeholder="Search" title="Search for:" type="search" value="">
				</label>
				<input class="search-submit" type="submit" value="Search">
			</form>
		</div>
		<!-- #site-navigation -->
	</div>
	<!-- #navbar -->
</header>