<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/admin']"><span class="glyphicon glyphicon-home"></span> Khu vực quản trị</a>
    </li>
</ol>

<div class="container-fluid">
	<div class="row banner">
		<div class="col-md-12">
			<div class="list-group">
				<div *ngIf="user && user.role=='admin'" class="list-group-item">
					<div class="row-action-primary">
						<h4 class="list-group-item-heading"> Quản lý người dùng </h4>
					</div>
					<div class="row-content">
						<a [routerLink]="['/admin/users']" class="btn btn-default btn-raised">
							Tất cả thành viên</a>
						<a [routerLink]="['/admin/user/create']" class="btn btn-primary btn-raised">
							Thêm thành viên</a>
					</div>
				</div>
				<div class="list-group-separator"></div>

				<div class="list-group-item">
					<div class="row-action-primary">
						<h4 class="list-group-item-heading"> Chuyên mục bài viết</h4>
					</div>
					<div class="row-content">
						<a [routerLink]="['/admin/categories']" class="btn btn-default btn-raised">
							
							Tất cả danh mục</a>
						<a [routerLink]="['/admin/category/create']" class="btn btn-primary btn-raised">
							
							Thêm danh mục</a>
					</div>
				</div>
				<div class="list-group-separator"></div>

				<div class="list-group-item">
					<div class="row-action-primary">
						<h4 class="list-group-item-heading"> Quản lý bài viết </h4>
					</div>
					<div class="row-content">
						<a [routerLink]="['/admin/articles']" class="btn btn-default btn-raised">
							
							Tất cả bài viết</a>
						<a [routerLink]="['/admin/article/create']" class="btn btn-primary btn-raised">
							
							Bài viết mới</a>
					</div>
				</div>

				<div class="list-group-item">
					<div class="row-action-primary">
						<h4 class="list-group-item-heading"> Trang </h4>
					</div>
					<div class="row-content">
						<a [routerLink]="['/admin/about']" class="btn btn-default btn-raised">
							Giới thiệu</a>
						<a [routerLink]="['/admin/contact']" class="btn btn-default btn-raised">
							Liên hệ</a>
					</div>
				</div>
				<div class="list-group-separator"></div>
			</div>
		</div>
	</div>
</div>