<ol class="breadcrumb">
    <li>
        <a [routerLink]="['/']"><span class="glyphicon glyphicon-home"></span> Trang Chủ</a>
    </li>
    <li class="active">Thông tin cá nhân</li>
</ol>

<div class="container-fluid">
	<div class="row">
		<form class="form-horizontal" (ngSubmit)="updateCurrentLoggined(profilesForm.value)" #profilesForm="ngForm">
			<fieldset>
				<legend class="text-center text-uppercase">Thông tin cá nhân</legend>
				<div *ngIf="status=='error'" class="alert alert-danger">{{ message }}</div>
				<div *ngIf="status=='success'" class="alert alert-success">{{ message }}</div>
				<div class="wrapper-partial">
					<div class="form-group">
						<label for="name" class="col-lg-12">Họ và tên</label>
						<div class="col-lg-12">
							<input type="text" class="form-control" id="name" name="name" placeholder="Họ và tên" [(ngModel)]="user.name" ngModel #name="ngModel" required>
							<div *ngIf="name.errors?.required && name.touched" class="alert alert-danger">Tên không được bỏ trống</div>
						</div>
					</div>

					<div class="form-group">
						<label for="email" class="col-lg-12">E-Mail</label>
						<div class="col-lg-12">
							<input type="email" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="user.email" disabled>
						</div>
					</div>

					<div class="form-group">
						<label for="day" class="col-lg-12">Ngày sinh</label>
						<input type="text" id="born" name="born" [ngModel]="user.born | date :'dd-MM-yyyy'" (ngModelChange)="change_date($event)">
					</div>

					<div class="form-group">
						<div class="col-lg-12">
							<label>Giới tính: </label>
							<input type="radio" class="inline" name="gender" value="male" [(ngModel)]="user.gender" ngModel> Nam
							<input type="radio" class="inline" name="gender" value="female" [(ngModel)]="user.gender" ngModel> Nữ
							<input type="radio" class="inline" name="gender" value="other" [(ngModel)]="user.gender" ngModel> Khác
						</div>
					</div>

					<div class="form-group">
						<label for="address" class="col-lg-12">Địa chỉ</label>
						<div class="col-lg-12">
							<input type="text" class="form-control" id="address" name="address" placeholder="Address" [(ngModel)]="user.address" ngModel>
						</div>
					</div>
				</div>

				<div class="wrapper-partial">
					<div class="wrapper-edit-btn text-right">
						<strong class="pull-left">Thiết lập Url cá nhân</strong>
						<a *ngIf="!isChangeUrl" (click)="onClickEditUrl()" class="btn btn-sm btn-link btn-edit">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Sửa</a>
						<a *ngIf="isChangeUrl" (click)="onEditDoneUrl()" class="btn btn-sm btn-default btn-edit">
							<span class="glyphicon glyphicon-check" aria-hidden="true"></span> Xong</a>
					</div>
					<div class="form-group" [hidden]="!isChangeUrl">
						<label for="page" class="col-lg-12">Url Trang cá nhân</label>
						<div class="col-lg-12">
							<input type="text" class="form-control" id="page" name="page" placeholder="Url Trang cá nhân" [(ngModel)]="user.page" ngModel [disabled]="!isChangeUrl">
						</div>
					</div>
				</div>

				<div class="wrapper-partial">
					<div class="wrapper-edit-btn text-right">
						<strong class="pull-left">Thiết lập thông tin blog</strong>
						<a *ngIf="!isSettingPage" (click)="onSettingPageEdit()" class="btn btn-sm btn-link btn-edit">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Sửa</a>
						<a *ngIf="isSettingPage" (click)="onSettingPageDone()" class="btn btn-sm btn-default btn-edit">
							<span class="glyphicon glyphicon-check" aria-hidden="true"></span> Xong</a>
					</div>
					<div [hidden]="!isSettingPage">
						<div class="form-group">
							<label for="page_title" class="col-lg-12">Tiêu đề Blog</label>
							<div class="col-lg-12">
								<input type="text" class="form-control" id="page_title" name="page_title" placeholder="Tiêu đề Blog" [(ngModel)]="user.page_title" ngModel [disabled]="!isSettingPage">
							</div>
						</div>
						<div class="form-group">
							<label for="page_slogan" class="col-lg-12">Slogan blog</label>
							<div class="col-lg-12">
								<input type="text" class="form-control" id="page_slogan" name="page_slogan" placeholder="Slogan blog" [(ngModel)]="user.page_slogan" ngModel [disabled]="!isSettingPage">
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div for="isChangePassword" class="col-lg-12">
						Đổi mật khẩu
						<input type="checkbox" id="isChangePassword" name="isChangePassword" [(ngModel)]="isChangePassword">
					</div>
				</div>

				<div *ngIf="isChangePassword">
					<div class="form-group">
						<label for="new_password" class="col-lg-12">Mật khẩu mới</label>
						<div class="col-lg-12">
							<input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password" ngModel #new_password="ngModel" required minlength="6">
							<div *ngIf="new_password.errors?.required && new_password.touched" class="alert alert-danger">
								Mật khẩu là trường bắt buộc</div>
							<div *ngIf="new_password.errors?.minlength && new_password.touched" class="alert alert-danger">
								Mật khẩu phải tối thiểu là 6 ký tự</div>
						</div>
					</div>

					<div class="form-group">
						<label for="confirm_password" class="col-lg-12">Nhập lại mật khẩu</label>
						<div class="col-lg-12">
							<input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" ngModel #confirm_password="ngModel" required>
							<div *ngIf="confirm_password.errors?.required && confirm_password.touched" class="alert alert-danger">
								Nhập lại mật khẩu không được bỏ trống</div>
							<div *ngIf="confirm_password.value!=new_password.value && confirm_password.touched" class="alert alert-danger">
								Mật khẩu không khớp</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="password" class="col-lg-12">Mật khẩu</label>
					<div class="col-lg-12">
						<input type="password" class="form-control" id="password" name="password" placeholder="Password" #password="ngModel" ngModel required>
						<div *ngIf="password.errors?.required && password.touched" class="alert alert-danger">
							Mật khẩu là trường bắt buộc</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-12">
						<button type="submit" class="btn btn-primary" [disabled]="profilesForm.invalid">Cập nhật</button>
						<a [routerLink]="['/']" class="btn btn-default"> <span class="glyphicon glyphicon-chevron-left"></span> Trở về</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

