<a [routerLink]="['/admin']" class="btn btn-default">
	<span class="glyphicon glyphicon-chevron-left"></span>
	Trở về</a>
<p *ngIf="error">{{ message }}</p>
<p *ngIf="success">{{ message }}</p>
<p>
	Đang xóa...
</p>
