/* You can add global styles to this file, and also import other style files */
.form-control.ng-invalid {
    border-left: 5px solid red;
    border-bottom: 1px solid #d33333;
}
.form-control.ng-valid {
    border-left: 5px solid green;
    border-bottom: 1px solid #15b333;
}
.form-control.ng-untouched {
    border-left: 5px solid #daa006;
    border-bottom: 1px solid #ffcc3d;
}

.ngx-pagination li.current{
    background: #757575;
}