<div class="date-outer">
    <h2 class="date-header"><span>{{ article.created_on }}</span></h2>
    <div class="date-posts">
        <div class="post-outer">
            <article class="post hentry">
                <header class="entry-header">
                    <h1 class="post-title entry-title">
                        <a [routerLink]="['/' + page + '/bai-viet', article._id]">{{ article.title }}</a>
                    </h1>
                </header>
                <div class="post-header-line-1"></div>
                <div class="post-body entry-content">
                    <div class="entry-item-list">
                        <a [routerLink]="['/' + page + '/bai-viet', article._id]">
                            <img [src]="srcImage(article.image)" class="pbtthumbimg">
                        </a>
                        <div>
                        	{{ article.describe }}
                        </div>
                    </div>

                    <div style="float:right;padding-right:10px;margin-top:10px;">
                        <a class="morer" [routerLink]="['/' + page + '/bai-viet', article._id]"> Xem tiếp </a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <footer class="entry-meta">
                    Đăng {{ article.created_on | date: "\'ngày'\ dd\', tháng\' MM\', năm\' yyyy \'| Lúc\' h:m"}}
                    <a *ngIf="user&&user.role=='admin'" [routerLink]="['/admin/article/delete', article._id]" class="text-red"> Delete</a>
                </footer>
            </article>
            <div style="clear: both;"></div>
        </div>
    </div>
</div>
